* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node {
  height: 20px;
  width: 20px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: gray;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-visited {
  background-color: violet;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node {
  height: 20px;
  width: 20px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: gray;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.button-container {
  display: flex;
}

.button-container button {
  margin: 0 10px;
  padding: 4px 6px;
  font-family: "Inter";
}
